/* Normalize */
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}
/* Свойства для корректного отображения картинок */
/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}
a {
    list-style-type: none;
    text-decoration: none;
}
li {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
/* стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
p {
    margin-top: 0;
}   
/* Variables */
:root {
--primary-background-color: #FFFFFF;
--secondary-background-color: #F5F4FA;
--third-background-color: #2F303A;
--primary-text-color: #757575;
--secondary-text-color: #212121;
--third-text-color: #ffffff;
--accent-color: #2196F3;
--fours-text-color: rgba(255, 255, 255, 0.6);
--border-botoom-color: #ECECEC;
--border-btm-scnd-clr: #EEEEEE;
--icon-primary-fill: #AFB1B8;
--icon-background-color: rgba(255, 255, 255, 0.1);
--background-color-portfolio: rgba(33, 150, 243, 0.9);
--background-color-studio: rgba(47, 48, 58, 0.8);
--modal-background-color: rgba(0, 0, 0, 0.2);
--modal-backgroud-color-wind: #ffffff;
--border-btn-close: rgba(0, 0, 0, 0.1);
}
:root {
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* Шапка сайта */

.accent-header-logo {
    color:#000000
}
.header {
    margin-top: 0;
    border-bottom: 1px solid var(--border-botoom-color);
    background-color: var(--primary-background-color);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-nav {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    transition-property: color;
    
}
.site-nav .link {
    display: block;
    position: relative;
    color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {  
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link::after {
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);    background-color: var(--accent-color);
}
.site-nav .link:hover::after {
    transform: scaleX(1);
}

.site-nav .link.current::after {
    transform: scaleX(1);
}
.header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    display: flex;
}
.list-force {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
}
.list-force :hover,
.list-force :focus {
    color: var(--accent-color);

}
.list-force .link,
.mail-header,
.tel {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

}

.list-force .item {
    margin-right: 50px;
    padding: 0;
}
.list-force .item:last-child {
margin-right: 0;
}
.list-force .icon-mail {
    display: inline-block;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    }
.mail-header:hover .icon-mail,
.mail-header:focus .icon-mail {
    fill: var(--accent-color);
}
.list-force .icon-phone {
    display: inline-block;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
.tel:hover .icon-phone,
.tel:focus .icon-phone {
    fill: var(--accent-color)
}
/* Вариант 2 */
/* .list-force > .item:not(:last-child) {
    margin-right: 50px; */

/* Вариант 3 */
/* .list-force .item+.item {
    margin-left: 50px::after
 } */
.list-img {
    text-decoration: none;
}

.list-force .link {
    display: block;
}
.header-address{
    padding: 0;
    display: flex;
    align-items: center;
}
.mail-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
}
.tel {
    display: flex;
    align-items: center;
    justify-content: center;    
    color: var(--primary-text-color);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* section 1 */
.section1 {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 0;
    background-color: var(--third-background-color);
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/Img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    text-align: center;
    text-transform: uppercase;
}

.button1 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px ;
    font-family: 'Roboto';
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: none;
    
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background-color);
    opacity: 1;
    transition: opacity 250ms var(--timing-function),
                visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;

    background: var(--modal-backgroud-color-wind);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
}

.modal .button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    
    background-color: var(--modal-backgroud-color-wind);
    border-radius: 50%;
    border: 1px solid var(--border-btn-close);
}

    
/* section 2 */
.section2 {
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 0;
}

.list-adv {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.list-adv .item {
    margin-top: 0;
    width: 270px;
    margin-right: 30px;
    padding: 0;
}
.list-adv .item:last-child {
    margin-right: 0;
}
.list-adv .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-adv .thumb {
    width: 270px;
    height: 120px;
    border: 1px solid var(--secondary-background-color);
    border-radius: 4px;
    background-color: var(--secondary-background-color);
    margin-bottom: 30px;
}
.advantage {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}
.description { 
    margin-bottom: 0;
    width: 270px;
    font-weight: 400;
    line-height: 1.71;
}
/* section 3 */
.h2-experience{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);
}
.list-foto {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding: 0;
}
.list-foto .item {
    position: relative;
    padding: 0;
    margin-right: 30px;
}
.list-foto .item:last-child {
    margin-right: 0;
}
.list-foto .img {
    display: block;
}
.thumb-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: var(--background-color-studio);
}
.list-foto .text {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0;
    color: var(--third-text-color);
    width: 100%;
    height: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
}

/* section 4 */
.section4 {
    background-color: var(--secondary-background-color);
}
.h2-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);
}
.our-team {
    padding: 30px 0;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.list-team {
    margin: 0;
    display: flex;
    padding: 0;
}
.list-team .foto {
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.list-team .foto:last-child {
    margin-right: 0;
}
.list-team .img {
    display: block;
}
.h3-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}
.prof {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.social {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}
.social .list-team {
    display: flex;
}
.list-team .menu-link {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-background-color);
    border-radius: 50%;
    padding: 0;
    padding: 12px 12px;
    background-color: var(--primary-background-color);
    cursor: pointer;
    width: 44px;
    height: 44px;
    position: relative;
    transition: fill 250ms var(--timing-function), 
                background-color 250ms var(--timing-function),
                border 250ms var(--timing-function);
}
.list-team .menu-link:hover,
.list-team .menu-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color: var(--accent-color);
}


.link-icon {
    fill: var(--icon-primary-fill);
    transition: fill 250ms var(--timing-function);
}
.list-team .menu-link:hover .link-icon,
.list-team .menu-link:focus .link-icon {
    fill: var(--third-text-color);
}

/* section5 */
.section5 {
    background-color: var(--primary-background-color);
}   
.h2-company {
    font-weight: 700;
    font-size: 36px;
    color: var(--secondary-text-color);
    line-height: 1.17;
    line-height: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.client {
    display: flex;
    padding: 0;
}
.client .list-client {
    margin-top: 0;
    margin-right: 30px;
    padding: 0;
}

.client .list-client:last-child {
    margin-right: 0;
}
.client .list-client:first-child {
    margin-left: 0px;
}
.list-client .company {
    display: inline-block;
    border: 1px solid var(--icon-primary-fill);
    border-radius: 4px;
    background-color: var(--primary-background-color);    padding: 0;
    width: 170px;
    height: 92px;
    cursor: pointer;
    transition: fill 250ms var(--timing-function),
            background-color 250ms var(--timing-function),
            border 250ms var(--timing-function);
        }
.list-client .company {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-client .company:hover,
.list-client .company:focus { 
    border: 1px solid var(--accent-color);
}

.list-client .icon {
    fill: var(--icon-primary-fill);
    transition: fill 250ms var(--timing-function);
}

.list-client .company:hover .icon,
.list-client .company:focus .icon {   
    fill: var(--accent-color);
}
/* footer */
.footer {
    padding: 0;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--third-background-color);
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-link {
    margin-bottom: 9px;
}
.footer-link:last-child {
    margin-bottom: 0;
}
.logo-footer {
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    display: inline-block;
    }
.accent-footer-logo {
    color: var(--third-text-color);
}
.address {
    line-height: 1.71;
    color: var(--third-text-color); 
    transition: color 250ms var(--timing-function);
}
.address:hover {
    color:var(--accent-color);
}
.address:focus {
    color: var(--accent-color);
}
.mail-footer {
    font-weight: 400;
    line-height: 1.71;
    color: var(--fours-text-color);
    transition: color 250ms var(--timing-function);
}
.mail-footer:hover {
    color: var(--accent-color);
}
.mail-footer:focus {
    color: var(--accent-color);
}
.tel-footer {
    line-height: 1.71;
    color: var(--fours-text-color);
    transition: color 250ms var(--timing-function);
}
.tel-footer:hover {
    color: var(--accent-color);
}
.tel-footer:focus {
    color: var(--accent-color);
}
.h3-foot {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;   
    color: var(--third-text-color); 
}
.footer .social-link {
    margin: 0;
    padding: 0;
}
.social-foot {
    display: flex;
    padding: 0;
    margin-top: 20px;
    margin-left: 0;
}

.social-foot .list {
    margin-right: 10px;
    display: flex;
}
.social-foot .list:first-child {
    margin-left: 70px;
}
.social-foot .list:last-child {
    margin-right: 70px;
}
.social-foot .list .menu-link {
    display: flex;
    align-items: center;
    border: 1px solid var(--third-background-color);
    padding: 0;
    padding: 12px 12px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    background: var(--icon-background-color);
    transition: fill 250ms var(--timing-function),
            background-color 250ms var(--timing-function),
            border 250ms var(--timing-function);
        }
.social-foot .list .menu-link:hover,
.social-foot .list .menu-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color: var(--accent-color);
}
.social-foot .link-icon {
    fill: var(--third-text-color);
}
.list-team .menu-link:hover .link-icon,
.list-team .menu-link:focus .link-icon {
    fill: var(--third-text-color);
}

/* Portfolio */

.control {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    list-style-type: none;
    color: var(--secondary-text-color);
}
.control .item {
    margin-right: 8px;
}

.control .item:last-child {
    margin-right: 0;
}
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button2 {
    padding: 6px 22px;
    border-radius: 4px;
    font-family: 'Roboto';
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border: none;
    transition: fill 250ms var(--timing-function),
                color 250ms var(--timing-function),
                background-color 250ms var(--timing-function);
}
.button2:hover,
.button2:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--third-text-color);
    cursor: pointer;
}

.button2:focus {
    background-color: var(--accent-color);
    color: var(--third-text-color);
}
.gallery {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}


.gallery .item {
    border: 1px solid var(--border-btm-scnd-clr);
    list-style-type: none;
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.gallery .item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.gallery .item:nth-child(3n) {
    margin-right: 0;
}
.gallery .item:nth-child(n + 7) {
    margin-bottom: 0;
}
.gallery .card-item {
    padding: 20px 24px;
    display: block;
}
.gallery .list-img {
    text-decoration: none;
}
.gallery .img {
    display: block;
    width: 100%;
    height: 100%;
}
.overlay {
    position: relative;
    overflow: hidden;
}
.gallery .item:hover .text-overlay {
    transform: translateY(0);
}
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 294px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    background-color: var(--background-color-portfolio);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects {
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.description2 {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.button-close {
    transition-property: transform;
        transition-duration: 2500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }